<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color: #242424;">

<div style="background: url('/images/category.png') center no-repeat;height: 1799px;position: relative;width: 1024px;margin: 0px auto;">
  <a href="/" style="position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    display: block;"></a>
  
  <a href="/signup" style="position: absolute;
    right: 26px;
    top: 24px;
    width: 154px;
    height: 50px;
    display: block;"></a>
  
</div>


</body>

</html>
