<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color: #242424;">

<div style="background: url('/images/signup.png') center no-repeat;height: 2651px; position: relative;width: 1024px;margin: 0px auto;">
  
  <a href="/" style="position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    display: block;"></a>
  
  <a href="/signup" style="position: absolute;
    left: 409px;
    bottom: 68px;
    width: 205px;
    height: 50px;
    display: block;"></a>
  
</div>


</body>

</html>
